doctype html
html
  head
    title= Dashboard
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title AdminLTE 2 | Dashboard 
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css")
    link(rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css")
    link(rel="stylesheet" href="dist/css/AdminLTE.min.css")
    link(rel="stylesheet" href="dist/css/skins/_all-skins.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.hold-transition.skin-blue.sidebar-mini
       .main.container
       .row
         .col-md-6.col-md-offset-3
           h1.display-4.m-b-2 Sign Up
           form(method='POST' action='users')
             div.form-group
               label(for='email') Correo:
               input#email.form-control(type='email', placeholder='name@email.com' name='email')
             div.form-group
               label(for='pw') Password:
               input#pw.form-control(type='password' name='password')
             button.btn.btn-primary(type='submit') entrar